@font-face {
  font-family: myFont; /* set name */
  src: url(annexe/eusthalia-sans-stamped.otf); /* url of the font */
}

body{
   font-family: myFont;
}

.menu{
    width: 100vw;
    display: flex;
}

.menu_with_logo img{
    height: 15vh;
}

.menu_with_logo{
    height: 15vh;
    width: 30vw;
}

.menu_without_logo{
    height: 15vh;
    width: 62vw;
    display : flex;
    align-items: center;
    right: 0;
    justify-content: flex-end;
}

.menu_without_logo a{
    text-decoration: none;
    color : black;
    font-size: 15px;
    padding: 3%;
}

.menu_flag{
    height: 15vh;
    width: 8vw;
    display : flex;
    align-items: center;
    position : relative;
}

.menu_flag button{
    margin : auto;
}

.selection_flag{
    position: absolute;
    top : 10vh;
    width: 8vw;
    display: none;
    border-radius : 5px;
    background-color: lightgray;
}

.buttonOpenDialogToChangeLanguage{
    background-color: transparent;
    border: none;
}
/*
.buttonOpenDialogToChangeLanguage::after{
    content: url(annexe/arrow.png);
}
*/
.selection_flag button{
    width: 8vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.buttonChangeLanguage:hover{
    background-color: white;
}
