@font-face {
  font-family: myFont; /* set name */
  src: url(annexe/eusthalia-sans-stamped.otf); /* url of the font */
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
   /*font-family: myFont;*/
   font-family: 'Montserrat', sans-serif;
}

header{
    width: 100%;
    display: flex;
    padding: 0px 8%;
}

.menu_with_logo img{
    height: 10vh;
}

.menu_with_logo{
    height: 10vh;
    width: 30vw;
}

.menu_without_logo{
    height: 10vh;
    width: 70vw;
    display : flex;
    align-items: center;
    right: 0;
    justify-content: flex-end;
}

.menu_without_logo a{
    text-decoration: none;
    color : black;
    font-size: 20px;
    padding: 3%;
}

.menu_flag{
    height: 10vh;
    display : flex;
    align-items: center;
    position : relative;
    text-decoration: none;
    font-size: 20px;
    padding: 3%;
    width:3vw;
}


.selection_flag{
    position: absolute;
    top : 10vh;
    display: none;
    border-radius : 5px;
    height:10vh;
    width:5vw;
    padding: 1%;
    text-decoration: none;
    font-size: 20px;
    z-index:1000;
    background-color: white;
}

.menuFlagText{
    display: inline-flex;
    vertical-align: middle;
}

.menuFlagImage{
    display: inline-flex;
    vertical-align: middle;
}

.selection_flag button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width:5vw;
    height: 5vh;
}

.buttonChangeLanguage:hover{
    background-color: lightgrey;
}

.first_image{
    position: relative;
}

.first_image img{
    height:90vh;
    width:100vw;
    /*border-radius: 20px;*/
    /*opacity: 0.4;
    filter: alpha(opacity=40); */
}

.first_image h1{
    position : absolute;
    bottom: 20vh;
    left: 10vw;
    color : white;
    font-size: 5rem;
    font-weight: 900;
    line-height: 1.1;
}